h1 {
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60pt;
    font-weight: bold;
    letter-spacing: 30px;
}
img {
    opacity: 0.8;
}

.centered {
    position: absolute;
    top: 20%;
    left: 58%;
    transform: translate(-20%, -50%);
}

.btn {
    position: absolute;
    top: 70%;
    left: 71%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 10px 30px;
    border:none;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px; 
}
  .btn:hover {
    background-color: rgb(141, 75, 0);
  }

  .button {
    position: absolute;
    top: 50%;
    left: 86%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 10px 30px;
    border:none;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px; 
}
  .button:hover {
    background-color: rgb(141, 75, 0);
  }